/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/
/node_modules/
/vendor/
my_data_drip_dummy/
.DS_Store

# Rails cache files and secrets
spec/test_app/tmp/
spec/test_app/log/
spec/test_app/storage/
spec/test_app/config/master.key
spec/test_app/config/credentials/

# rspec failure tracking
.rspec_status
.byebug_history
/vendor/bundle/
