<ul>
    <% @backfills.map(&:name).uniq.each do |backfill| %>
    <li>
        <%= backfill %> <%= backfill.constantize.new.scope.count %> 
        <%= button_to 'Run', run_backfill_path(backfill: backfill), method: :post, class: 'btn btn-primary' %>
    </li>
    <% end %>
</ul>
