name: Build
on: [push]

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.0
          bundler-cache: true
      - name: Run rubocop
        run: |
          bundle exec rubocop --parallel
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [3.3.0]
        database: [sqlite]
    env:
      TARGET_DB: ${{ matrix.database }}
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Install test app gems
        run: |
          cd spec/test_app
          bundle install
      - name: Setup test database
        run: |
          cd spec/test_app
          bundle exec rails db:create db:migrate
      - name: Run tests
        run: bundle exec rspec
