name: Build
on: [push]

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Run rubocop
        run: |
          bundle exec rubocop --parallel
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gemfile:
          - Gemfile
          - gemfiles/Gemfile-Rails-7-2
          - gemfiles/Gemfile-Rails-8-0
          - gemfiles/Gemfile-Rails-8-1
          - gemfiles/Gemfile-Rails-main
        ruby-version: [3.3, 3.4, 4.0]
        database: [sqlite]
    env:
      TARGET_DB: ${{ matrix.database }}
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
